@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

/*colors
.clearer-line
    background-color: white;
li
    color: white; 
.heart
    color: gray;
.date
    color: rgb(151, 150, 150);
.reading-load
    color: rgb(132, 39, 199);
.left-col
    background-color: rgb(253, 253, 253);
.clearer-line-short
    background-color: rgb(214, 213, 213);
h1
    color: gray;
.right-col
    background-color: rgb(253, 253, 253);
*/

body {
    
    font-family: 'Quicksand', sans-serif;
    background: url('img/bg.png') no-repeat top center fixed #e3dcd7;
}

.wrapper {
    width: 55%;
    height: 100vh;
    margin: auto;
    position: relative;
}

header {
    width: 100%;
    background-color: white;
}

.logo {
    width: 460px;
    height: 300px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
}

.clearer-line {
    width: 100%;
    height: 2px;
    background-color: white;
    left: 20%;
}

ul {
    width: 85%;
    left: 25%;
    margin: 20px auto;
}

li {
    align-items: center;
    margin: 5px auto;
    padding: 5px 19px;
    font-size: 2.5rem;
    color: white;
}

.container {
    position: absolute;
}

.heart-container {
    margin: 20px 30px;
}

.heart {
    display: flex;
    margin: 40px auto;
    justify-content: center;
    color: gray;
}

.date {
    display: flex;
    justify-content: center;
    margin: 25px auto;
    color: rgb(151, 150, 150);
}

.main-article {
    display: block;
    margin-bottom: 20px;
}

p {
    margin: 20px 20px;
}

a {
    text-decoration: none;
}



.reading-load {
    display: block;
    padding-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: rgb(132, 39, 199);
    font-weight: bolder;
}

.left-col {
    background-color: rgb(253, 253, 253);
    display: inline;
    float: left;
    width: 700px;
    margin-right: 12px;
    margin-top: 15px;
}

.clearer-line-short {
    display: block;
    margin: 20px auto;
    width: 90px;
    height: 2px;
    background-color: rgb(214, 213, 213);
}

h1 {
    text-align: center;
    color: gray;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 2.2rem;
}

img {
    width: 100%;
    height: auto;
}

.right-col {
    background-color: rgb(253, 253, 253);
    display: inline;
    float: left;
    width: 310px;
    margin-top: 15px;
    margin-bottom: 40px;
}

